body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.content-container {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; 
    scroll-behavior: smooth; 
}

.page {
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

header {
    text-align: center;
    width: 100%;
    height: 50%; 
    background-color: black;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-txt {
    font-size: 50pt;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
}

.header-sub {
    font-size: 18pt;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;
    opacity: 1;
}
.button-container {
    display: grid;
    gap: 70px; 
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(100px, auto)); 
}
.page:nth-child(even) {
    background-color: white;
    color: black;
}

.page:nth-child(odd) {
    background-color: black;
    color: white;
}


.page .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.left-text {
    width: 45%; 
    
    padding-left: 30px;
}



  .right-text{

    width: 45%; 
    
    padding-right: 30px;



  }

.para-txt{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 400;



}

.para-txt2{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 50px;
    font-weight: 400;



}


.right-images {
    width: 45%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.right-images img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}


.page-with-images {
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    color: white;
    background-color: black;
    text-align: center;

}

.page-with-images .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.para-img{

    font-size: 50px;
    font-weight: 600;





}
.page-with-images .left-text {
    width: 45%;

}

.page-with-images .right-images {
    width: 50%;
}


.page-with-images .left-text, .page-with-images .right-images {
    margin-right: 20px;
}



#sidebar {
    position: fixed;
    left: -200px; /* Initially hidden */
    top: 0;
    width: 200px;
    height: 100%;
    background: #303030c1;
    color: white;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
    text-align: center;
}

#sidebar.show {
    left: 0; /* Sidebar visible when the 'show' class is added */
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px;
}

#sidebar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 13px;
    font-weight:500 ;
    top: 50px;
}

#sidebarToggle {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #333;
    color: white;
    border: none;
    padding: 20px;
    z-index: 10;
    cursor: pointer;
}

.side-titles{
    position: relative;
    top:60px;
    right: 3px;

    font-size: 20;
    font-weight: 700;
}