body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll; /* Allow vertical scrolling */
}

header {
    text-align: center;
    width: 100%;
    background-color: black;
    padding: 20px;
   
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header-txt {
    font-size: 50pt;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
}

.header-sub {
    font-size: 18pt;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;
    opacity: 1;
}

.button-container {
    display: grid;
    gap: 70px; /* Space between buttons */
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(100px, auto)); /* Ensures good spacing */
}
